 #directoryPageDiv {
 grid-column: 2/3;
    grid-row: 2/3;
    padding: 15px;
    
}
#searchBar {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;
    height: 27px;
    background-color: lightgray;
    border-color: black;
    border-width: 1px;
    border-radius: 7px;
    padding-left: 8px;
}
#searchBar:focus {
outline: none;
}