
#MAETSLOGO {
    height: 60px;
    width: 130px;

}
header {
    grid-column: 2/3;
    align-content: center;
}
#logoDiv {
    grid-column: 1/2;
    align-content: center;
    text-align: center;
}
nav {
    display: flex;
    justify-content: right;
    
}
.navigationLink {
    text-decoration: none;
    list-style: none;
    color: black;
    margin-left: 50px;
    padding: 10px;
    border-radius: 10px;

}
.navigationLink:hover {
    background-color: lightgray;
    scale: 1.2;
    transition: all 0.1s ease-in-out;
}